*{
  padding: 0px;
  box-sizing: border-box;
  margin: 0px;
}

.first-section{
  background: linear-gradient(90deg, rgb(94, 2, 94),rgb(167, 17, 167));
  color: white;
  display: flex;
  align-items: center;
  padding: 30px;
}

.meme-logo {
  width: 40px;
  max-height: 100%;
  margin-right: 7px;
}

.nav--header {
  margin-right: auto;

}


/* Body Section */

main {
  padding: 80px;
}

.main--form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 10px;
  
}
input {
  text-indent: 5px;
  
}

.button--keypad {
  background: linear-gradient(to right, rgb(94, 2, 94), rgb(167, 17, 167));
  grid-column: 1/-1;
  color: white;
  
}

.meme--logo {
  max-width: 100%;
  position: absolute;

}

.meme--text1 {
  color: white;
  position: absolute;

  
}

.meme--text2 {
  color: white;
  position: absolute;
  bottom: 30px;

}



